/* Estilos da página auxiliar que explica a troca de tema. */

/* Inclui bordas e preenchimentos no tamanho calculado dos elementos. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outif', sans-serif;
}

/* Define a fonte, o fundo e a cor do texto da página. */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  transition: .5s;
}

/* Define a cor e o tamanho dos títulos principais. */
h1 {
  color: white;
}

